<footer op-60 fixed bottom-5 class="left-50% -translate-x-50%">
  <p text-sm text-slate>
    <a
      border-b
      border-slate
      border-none
      hover:border-dashed
      href="https://github.com/qiuqfang/ChatAI"
      target="_blank"
    >
      <i class="i-simple-icons:github"></i>
    </a>
    <span px-1>|</span>
    <a
      border-b
      border-slate
      border-none
      hover:border-dashed
      href="https://astro.build/"
      target="_blank"
    >
      <i class="i-simple-icons:astro"></i>
    </a>
    <span px-1>|</span>

    <a
      border-b
      border-slate
      border-none
      hover:border-dashed
      href="https://platform.openai.com/docs/guides/chat"
      target="_blank"
    >
      <i class="i-simple-icons:openai"></i>
    </a>
  </p>
</footer>
